<div class="codeExample">
  <div class="exampleOutput">
    <%= rendered_example %>
  </div>
  <div class="codeBlock">
<!--  	<button class="btn ld-btn-defaultCta clip-button">Copy</button>	-->
    <div class="highlight">
      <pre><%= code_example %></pre>
    </div>
  </div>
</div>
