// File: Brand Colors for Compact Appliance
// Description: These colors make up 90% of the colors used on the site. See "brand Colors" for spot colors.
// Site: Compact Appliance

// ------------------------------------------------------------
// START SASS INCLUDES


// @include "variables/colors";


// END SASS INCLUDES
// ------------------------------------------------------------


/*doc
---
title: Backgrounds & Borders
name: backgrounds-borders-colors
parent: colors
---

These are the **primary** colors that make up the CompactAppliance.com color pallet. There are 
some additional colors available that are used to add depth and enrich these colors.

<div class="row">

	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
		<div class="card bg-color-brand-1-1 bdr-color-brand-1-2">
			<span>
				<code>$bg-color-brand-1-1</code><br>
				<code>$white</code> <code>#ffffff</code>
			</span>
		</div>
		<p class="center-block">
			<strong>Base Palette</strong><br>
			The background color for the site and almost all page content.
		</p>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
		<div class="card bg-color-brand-1-2 bdr-color-brand-1-3">
			<span>
				<code>$bg-color-brand-1-2</code><br>
				<code>$ice</code> <code>#cfedf3</code>
			</span>
		</div>
		<p class="center-block">
			<strong>Brand Palette</strong><br>
			The light background color for any important content related to the brand.
		</p>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
		<div class="card bg-color-brand-1-4 bdr-color-brand-1-5">
			<span>
				<code>$bg-color-brand-1-4</code><br>
				<code>$teal</code> <code>#267d92</code>
			</span>
		</div>
		<p class="center-block">
			<strong>Brand Palette</strong><br>
			The dark background color for any important content related to the brand.
		</p>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
		
		<div class="card bg-color-default-1-2 bdr-color-default-1-3">
			<span>
				<code>$bg-color-default-1-2</code><br>
				<code>$ash</code> <code>#f3f3f3</code>
			</span>			
		</div>
		<p class="center-block">
			<strong>Default Palette</strong><br>
			The light background color for any other content/element where the base palette won't work.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p>
			<button class="btn btn-default center-block" type="button" data-toggle="collapse" data-target="#collapseColors" aria-expanded="false" aria-controls="collapseColors">
		  	Supporting Brand & Default Colors
			</button>
		</p>
		<br/>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="collapse" id="collapseColors">
			<p>Brand colors and default colors compliment each other. Even though everything on the site 
			can be considered part of the brand we do not want to make everything the brand color - that 
			would be too much of one color and delute the brand colors' effectiveness to call attention. 
			Therefore, we use brand colors for visual emphasis, not as our primary go-to color. We want 
			the brand colors to be used strategically and for important elements or areas of a page that 
			are tied to our logo, brand purpose, or content that differentiates us as a brand from our competitors.
			</p>
			<p> 
			Here are some general guidelines:</p>
			<ul>
				<li><b>Use the default colors when in doubt</b></li>
				<li>Use the lightest color palettes for large areas - we are reserving the dark palettes for buttons and CTAs, and we would prefer not to have large areas of light text on a dark background</li>
			</ul>

			<div role="tabpanel">
			  	<!-- Nav tabs -->
			  	<ul class="nav nav-tabs" role="tablist">
			    	<li role="presentation" class="active"><a href="#brand-colors" aria-controls="brand colors" role="tab" data-toggle="tab">All Brand Colors</a></li>
			    	<li role="presentation"><a href="#default-colors" aria-controls="default colors" role="tab" data-toggle="tab">All Default Colors</a></li>
			  		<li role="presentation"><a href="#complementary-colors" aria-controls="complement colors" role="tab" data-toggle="tab">All Complementary Colors</a></li>
			  	</ul>

			  	<!-- Tab panes -->
			  	<div class="tab-content">
			    	<div role="tabpanel" class="tab-pane active" id="brand-colors">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>Brand colors and combinations are used for emphasis and grabbing attention. <b>Use these color 
							combinations sparingly. </b>They are also used in areas of the site that are important for 
							reinforcing the brand (e.g. header and footer), and for drawing the users eye to strategic content that 
							differentiate our brand from our competitors (e.g. our value props/mission/purpose/).</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-brand-1-1 bdr-color-brand-1-2">
								<span>
									<code>$bg-color-brand-1-1</code><br>
									<code>$white</code> <code>#ffffff</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>White Palette</strong><br>
								This is the primary background color for the site and any containing elements (the default look). The border color is what distinguishes this from the default version. <em>Use this background/border color combination when the content it supports has a strategic brand affinity or purpose</em>.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-brand-1-2 bdr-color-brand-1-3">
								<span>
									<code>$bg-color-brand-1-2</code><br>
									<code>$ice</code> <code>#cfedf3</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Ice Palette</strong><br>
								This is the secondary background color to be used when white will not work or when slight contrast is required. This is also the hover color for white and the border color for white background colored elements.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-brand-1-3 bdr-color-brand-1-4">
								<span>
									<code>$bg-color-brand-1-3</code><br>
									<code>$dark-ice</code> <code>#9ad0dd</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Dark Ice Palette</strong><br>
								Do not use this as a background color for content. This is used as a border color or as a hover effect color for "Ice" backgrounds. The color is too neutral and any text sitting on top would not have a lot of contrast.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-brand-1-4 bdr-color-brand-1-5">
								<span>
									<code>$bg-color-brand-1-4</code><br>
									<code>$teal</code> <code>#267d92</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Teal Palette</strong><br>
								Avoid using this as a background color for content and avoid using this in large areas - it would be very contrasty with the background color of the site. Text sitting on this would need to be white.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-brand-1-5 bdr-color-brand-1-5">
								<span>
									<code>$bg-color-brand-1-5</code><br>
									<code>$dark-teal</code> <code>#065365</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Dark Teal Palette</strong><br>
								Do not use this as a background color for content. This is used as a border color or as a hover effect color for "Teal" backgrounds. The color is too neutral and any text sitting on top would not have a lot of contrast.
							</p>
						</div>
			    	</div>
			    	<div role="tabpanel" class="tab-pane" id="default-colors">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>These default colors should be used as the default color pallete for all elements of the site, like GUI (graphic user interface) elements, sections, panels, and containing elements. 
							The neutral grays help the eye easily scan across different content areas without being seen as a distraction. <em>Use these color combinations when in doubt</em>.</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-default-1-1 bdr-color-default-1-2">
								<span>
									<code>$bg-color-deafult-1-1</code><br>
									<code>$white</code> <code>#ffffff</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>White Palette</strong><br>
								Use this "white" and "ash" border combination when this is being used as a standard GUI element. This is also the background color for the site so it should be used for GUI elements and other containing elements unless the section requires more visual contrast or has content with a brand affinity.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-default-1-2 bdr-color-default-1-3">
								<span>
									<code>$bg-color-default-1-2</code><br>
									<code>$ash</code> <code>#f3f3f3</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Ash Palette</strong><br>
								This is the secondary background color to be used when white will not work or when slight contrast is required. This is also the hover color for white and the border color for white background colored elements.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-default-1-3 bdr-color-default-1-4">
								<span>
									<code>$bg-color-default-1-3</code><br>
									<code>$dark-ash</code> <code>#b4b6b6</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Dark Ash Palette</strong><br>
								Do not use this as a background color for content. This is used as a border color or as a hover effect color for "Ash" backgrounds. The color is too neutral and any text sitting on top would not have a lot of contrast.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-default-1-4 bdr-color-default-1-5">
								<span>
									<code>$bg-color-default-1-4</code><br>
									<code>$slate</code> <code>#3b4547</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Slate Palette</strong><br>
								Avoid using this as a background color for content and avoid using this in large areas - it would be very contrasty with the background color of the site. Text sitting on this would need to be white.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-default-1-5 bdr-color-default-1-5">
								<span>
									<code>$bg-color-default-1-5</code><br>
									<code>$dark-slate</code> <code>#1D2425</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Dark Slate Palette</strong><br>
								Do not use this as a background color for content. This is used as a border color or as a hover effect color for "Slate" backgrounds. The color is too neutral and any text sitting on top would not have a lot of contrast.
							</p>
						</div>
			    	</div>

			    	<div role="tabpanel" class="tab-pane" id="complementary-colors">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>Brand's complementary colors and combinations are used for emphasis and grabbing attention. <b>Please advise design team when in use. </b>There will be areas of the site that are alternate from brand colors. important for reinforcing the brand (e.g. menus and cta's), and for drawing the users eye to strategic content that 
							differentiate from our primary brand colors.</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-complement-1-1 bdr-color-complement-1-2">
								<span>
									<code>$bg-color-complement-1-1</code><br>
									<code>$gold</code> <code>#ffffff</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Complementary Palette</strong><br>
								This is the complementary color for the site and any containing elements (the default look). The border color is what distinguishes this from the default version. <em>Use this background/border color combination when the content it supports has a strategic brand affinity or purpose</em>.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-complement-1-2 bdr-color-complement-1-3">
								<span>
									<code>$bg-color-complement-1-2</code><br>
									<code>$gold</code> <code>#ffffff</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Ice Palette</strong><br>
								This is the secondary complementary background color to be used when white will not work or when slight contrast is required. This is also the hover color for white and the border color for white background colored elements.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-complement-1-3 bdr-color-complement-1-4">
								<span>
									<code>$bg-color-complement-1-3</code><br>
									<code>$gold</code> <code>#ffffff</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Dark Ice Palette</strong><br>
								Do not use this as a background color for content. This is used as a border color or as a hover effect color for "Ice" backgrounds. The color is too neutral and any text sitting on top would not have a lot of contrast.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-complement-1-4 bdr-color-complement-1-5">
								<span>
									<code>$bg-color-complement-1-4</code><br>
									<code>$gold</code> <code>#ffffff</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Teal Palette</strong><br>
								Avoid using this as a background color for content and avoid using this in large areas - it would be very contrasty with the background color of the site. Text sitting on this would need to be white.
							</p>
						</div>
						<div class="col-xs-12 col-sm-5ths col-md-5ths col-lg-5ths">
							<div class="card bg-color-complement-1-5 bdr-color-complement-1-5">
								<span>
									<code>$bg-color-complement-1-5</code><br>
									<code>$gold</code> <code>#ffffff</code>
								</span>			
							</div>
							<p class="center-block">
								<strong>Dark Teal Palette</strong><br>
								Do not use this as a background color for content. This is used as a border color or as a hover effect color for "Teal" backgrounds. The color is too neutral and any text sitting on top would not have a lot of contrast.
							</p>
						</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<h3>Color Balance</h3>
		<p>90% of the color used on any page of the site come from the 
		<a href="#backgrounds-borders-colors">Background & Border</a> colors but 
		there are also a few select colors that are used for emphasis and grabbing 
		the user's attention. The chart to the right illustratues the proportion of 
		colors you should try to adhere to when designing.</p>
		<p>If you are having difficulty balancing the use of color on a page please 
		consult with a designer. It also helps to prioritize the content and CTAs on a page 
		by what is most important in terms of grabbing the user's attention. Then only emphasize 
		the important element(s) on a page and downplay the rest accordingly.</p>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<section id="color-wheel">
			<h4>Color Proportions</h4>
			<p>Try to shoot for these percentages of color for every page.</p>
		    <div class="pieID pie">
		      
		    </div>
		    <ul class="pieID legend">
		      <li>
		        <em>White</em>
		        <span>52.5</span>
		      </li>
		      <li>
		        <em>Ash</em>
		        <span>15</span>
		      </li>
		      <li>
		        <em>Ice</em>
		        <span>7.5</span>
		      </li>
		      <li>
		        <em>Teal</em>
		        <span>17.5</span>
		      </li>
		      <li>
		        <em>Dark Canary</em>
		        <span>2.5</span>
		      </li>
		      <li>
		        <em>Dark Leaf</em>
		        <span>2.5</span>
		      </li>
		      <li>
		        <em>Dark Coral</em>
		        <span>2.5</span>
		      </li>
		    </ul>
		    <p>Pie Wheel from: <a href="http://codepen.io/ejsado/pen/cLrlm/">http://codepen.io/ejsado/pen/cLrlm/</a></p>

		</section>
	</div>

</div>


*/