// File: Call to Actions for Compact Appliance
// Description: The visual ewlements that get a user to click, tap, or fill out something on the website.
// Site: Compact Appliance

// ------------------------------------------------------------
// START SASS INCLUDES


// @include "variables/colors";


// END SASS INCLUDES
// ------------------------------------------------------------

/*doc
---
title: Call to Actions
name: ctas
category: Styles
---

Before writing a call to action ask and answer the following 2 questions. The 
answers to those 2 questions are going to be the basis for the new button copy. 
You’ll of course have to spend time tweaking and refining it, before it’s ready 
for testing, but asking these questions is a great way to get started.

1. What is my prospect’s motivation for clicking this button?
2. What is my prospect going to get, when he/she clicks this button?

#### Writing Tips

1. Use a strong command verb to start your CTA (use adverbs sparingly - words that end in "ly")
2. Use less than 90 characters
3. Use langauge that conveys the benefits of taking action rather than the action we want them to take - Example: Instead of "Buy Now" say "Get Yours Now"
4. Use common langauge. Stay away from technical or insider jargon
5. Use words that provoke emotion or enthusiasm - do not use exclamation points in clickable elements
6. Use numbers when possible - Example: "Save $300"
7. Use "WIIFM" (What's in it for Me) language - Example: “Enter Today and Get a Free Hat"
8. Try "FOMO" (Fear of Missing Out) - Example: “Buy now while supplies last!”


#### Types of Call to Actions

* Text Only - Headline or paragraph that leads the user to start an on page process
* Link or Button - A clickable or tappable element with text that initiates a process
* Icon - A graphic that looks actionable or is universally recognizable as an action
* Graphic - A marketing graphic that has a compelling phrase or button baked into it or overlaying it

*/