// File: Fonts
// Description: The familes available
// Version: 0.1.0
// ------------------------------------------------------------

// @include "variables/typography";

// Brand Colors
$font-sans: $sans-serif-fam;
$font-serif: $serif-fam;
$font-mono: $mono-fam;
$font-script: $script-fam;
$font-display: $display-fam;

/*doc
---
title: Fonts
name: fonts
parent: typography
---



*/