// File: Panels
// Description: Product cards can be used for displaying additional product details in an interchangeable unorganized manner
// Version: 0.1.0
// ------------------------------------------------------------


.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6,
.panel-heading p{
	margin-top:0;
	margin-bottom: 0;
	padding-top:0;
	padding-bottom: 0;
}

.panel-footer h1,
.panel-footer h2,
.panel-footer h3,
.panel-footer h4,
.panel-footer h5,
.panel-footer h6,
.panel-footer p{
	margin-top:0;
	margin-bottom: 0;
	padding-top:0;
	padding-bottom: 0;
}


/*doc
---
title: Panels
name: panels
category: Special Cases
---

Use panels to contain side-bar content or secondary/tertiary content that is related but does not directly serve the same purpose as the primary content.

* Use for Left Navs
* Use for Learning Center content on the eCommerce site
* Use for eCommerce content on the Learning Center
* Typically panel content should not be full width or exceed more than half of the available columns

<div class="row">
	<div class="col-xs-12 col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Panel Header</h4>
			</div>
			<div class="panel-body">
				<p>This is the panel body</p>
				<a href="http://www.winecoolerdirect.com/wine-refrigerators">Wine Refrigerators</a>
			</div>
			<div class="panel-footer">
				<p>Panel Footer - <em>Optional</em></p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8">
		<h4>Default Panel</h4>
		<p>Use this panel for all content that is secondary to the primary content.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-4">
		<div class="panel panel-default ld-panel-navigation">
			<div class="panel-heading">
				<h4>Departments</h4>
			</div>
			<ul class="list-group">
				<a class="list-group-item" href="http://www.winecoolerdirect.com/top-rated-wine-refrigerators">Top Rated Wine Refrigerators</a>
				<a class="list-group-item" href="http://www.winecoolerdirect.com/small-wine-refrigerators">6 - 25 Bottle Wine Refrigerators</a>
				<a class="list-group-item" href="http://www.winecoolerdirect.com/medium-wine-refrigerators">26 - 37 Bottle Wine Refrigerators</a>
				<a class="list-group-item" href="http://www.winecoolerdirect.com/medium-wine-coolers">38 - 66 Bottle Wine Refrigerators</a>
				<a class="list-group-item" href="http://www.winecoolerdirect.com/67-110-bottle-wine-refrigerators">67 - 110 Bottle Wine Refrigerators</a>
				<a class="list-group-item" href="http://www.winecoolerdirect.com/111-200-bottle-wine-refrigerators">111 - 200 Bottle Wine Refrigerators</a>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8">
		<h4>Left Nav &amp; Filters Panel</h4>
		<p>Use this panel when you need to contain content</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-4">
		<div class="panel panel-default panel-lc">
			<div class="panel-heading">
				<h4>Learn About Portable A/Cs</h4>
			</div>
			<div class="panel-body">
				<p>This is the panel body</p>
				<a href="#">Portable A/Cs</a>
			</div>
			<div class="panel-footer">
				<a href="#">Portable A/Cs</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8">
		<h4>Learning Center Panel</h4>
		<p>Use this panel when you need to contain content</p>
	</div>
</div>

*/