// File: Product Cards
// Description: Product cards can be used for displaying additional product details in an interchangeable unorganized manner
// Version: 0.1.0
// ------------------------------------------------------------

.product-card{
	background-color: $color-default-1-1;
	border: 1px solid $color-default-1-2;
	box-shadow: 0 0 2px $color-default-1-2;
	width: 100%;
}

.product-card a{
	display: block;
	padding: 2rem;
}

.product-card .imageStars{
	text-align: center;
}

.product-card:hover{
	border-color: $color-default-1-3;
}

.product-card .bulletPoints,
.product-card a:hover .bulletPoints,
.product-card .salePrice,
.product-card a:hover .salePrice{
	color: $color-default-1-6;
	text-decoration: none;
}

/*doc
---
title: Product Cards
name: product-cards
category: Special Cases
---

#### General Rules
* Only use cards when other items around it are also cards - a lone card looks lonely
* You can use a card display as a hover effect for additional product information


```html_example

<div class="row">
	<div class="singleProduct col-xs-12 col-sm-4 col-md-4">
		<div class="product-card">
			<a title="Click to see product details" href="http://www.compactappliance.com/Koldfront-12-Bottle-Stainless-Steel-Slim-Fit-Thermoelectric-Wine-Cooler-Black-Stainless-Steel/TWR121SS.html">
				<div class="imageStars">
					<div class="image">
						<img class="productImage lazy" src="http://demandware.edgesuite.net/aabh_prd/on/demandware.static/Sites-Appliance-Site/Sites-CompactAppliance/default/v1431503673717/products/detail/TWR121SS_dt1.jpg">
					</div>

					<div class="stars">
						<img class="stars" src="http://demandware.edgesuite.net/aabh_prd/on/demandware.static/Sites-Appliance-Site/-/default/v1431503673717/images/stars/rating-4_3.gif">
					</div>
				</div>
				<div class="productTitle">Koldfront 12 Bottle Stainless Steel Slim-Fit Wine Cooler</div>
			
				<ul class="bulletPoints">
					<li>12 Bottle Capacity</li>
					<li>Single Temperature Zone</li>
					<li>Vibration Free Design</li>
				</ul>
				<span class="salePrice">Sale Price: $119.99</span>
			</a>
		</div>
	</div>
</div>

```

*/
