// File: Quotes
// Description: 
// Version: 0.1.0
// ------------------------------------------------------------

blockquote footer {
	position: relative;
	padding: 0;
	margin: 0;
	background-color: transparent;
	text-align: inherit;
}

/*doc
---
title: Quotes
name: quotes
parent: typography
---

Quotes customer testimonials

```html_example

<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

```

### Alternate Display

Add `.blockquote-reverse` for a blockquote with right-aligned content.


```html_example

<blockquote class="blockquote-reverse">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

```

*/